<div class="container">	
	<h3>Test Setup for boundary calculations</h3>
	<div class="row">
		<div class="col">
			Window size: {{ $ctrl.windowWidth }}x{{ $ctrl.windowHeight }}
		</div>
	</div>
	<div class="row">
		<div class="col col-xs-3">
			<h4>Anchor Config</h4>
			<div>Left: <input type="number" data-ng-model="$ctrl.anchorCss.left" data-ng-change="$ctrl.updateAnchorLocation()"/></div>
			<div>Top: <input type="number" data-ng-model="$ctrl.anchorCss.top" data-ng-change="$ctrl.updateAnchorLocation()" /></div>
			<div>Width: <input type="number" data-ng-model="$ctrl.anchorCss.width" data-ng-change="$ctrl.updateAnchorLocation()" /></div>
			<div>Height: <input type="number" data-ng-model="$ctrl.anchorCss.height" data-ng-change="$ctrl.updateAnchorLocation()" /></div>
		</div>
		<div class="col col-xs-4">
			<h4>Popup Config</h4>
			<div class="col col-xs-12">
				<div class="col col-xs-12">
					Position {{ $ctrl.popupConfig.valign + "-" + $ctrl.popupConfig.halign }}
				</div>
				<div class="col col-xs-4">
					<div class="btn-group-vertical" role="group">
						<button type="button" 
							ng-class="{ 'btn btn-sm btn-default': true, 'btn-primary': $ctrl.popupConfig.valign == 'top' }" 
							data-ng-click="$ctrl.popupConfig.valign = 'top'">Top</button>
						<button type="button" 
							ng-class="{ 'btn btn-sm btn-default': true, 'btn-primary': $ctrl.popupConfig.valign == 'bottom' }" 
							data-ng-click="$ctrl.popupConfig.valign = 'bottom'">Bottom</button>
					</div>
				</div>
				<div class="col col-xs-8">
					<div class="btn-group" role="group">
						<button type="button" 
							ng-class="{ 'btn btn-sm btn-default': true, 'btn-primary': $ctrl.popupConfig.halign == 'left' }" 
							data-ng-click="$ctrl.popupConfig.halign = 'left'">Left</button>
						<button type="button" 
							ng-class="{ 'btn btn-sm btn-default': true, 'btn-primary': $ctrl.popupConfig.halign == 'right' }" 
							data-ng-click="$ctrl.popupConfig.halign = 'right'">Right</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-xs-3">
			<h4>Popup html content</h4>
			<textarea data-ng-model="$ctrl.popupConfig.template"></textarea>
		</div>
	</div>


	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>


	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	

	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>
	<div>blabla</div>

<!--   <div id="c1" style="display: block; white-space: nowrap; width: 300px; height: 300px; overflow: auto; max-height: 200px; max-width: 200px; background: blue">
    some content<br/>
    some content<br/>
    some content<br/>
    some contfdqwfwqawEFWEF WEFD we fWEF efwef ent<br/>
    some conwfe awff awef <wbr>qf tent<br/>
    some content<br/>
    some content<br/>
    some contfdqwfwqawEFWEF WEFD we fWEF efwef ent<br/>
    some conwfe awff awef <wbr>qf tent<br/>
    some content<br/>
    some content
    <div style="position: relative; white-space: normal" id="anchor" y-position="$ctrl.popupConfig">Some Anchor</div>
    aqerfgerfg
  </div> -->
<div id="anchor" y-position="$ctrl.popupConfig">Some Anchor</div>

	

</div>
